.account-content {
    width: 100%;
    margin: 5% auto;
}

.title {
    width: 100%;
}

.account-info {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: visible;
}

.user-info {
    width: 60%;
    height: fit-content;
    margin: auto;
}

.user-info table {
    margin: auto;
    vertical-align: middle;
}

.account-icon {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#user-icon {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

/* edit form */
#form-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: fit-content;
    z-index: 1;
    overflow: auto;
    text-align: center;
    transform: translate(-50%, -50%);
}

.subtitle {
    margin-bottom: 2%;
}

#edit-form {
    display: block;
    text-align: left;
    border-radius: 25px;
    background-color: #fff;
    width: 40%;
    padding: 3%;
    margin: auto;
}

.edit-info {
    width: 100%;
    margin: 0 auto;
}

#new_region,
#new_email,
#new_fname,
#new_lname {
    display: block;
    width: 100%;
    margin: 3% auto;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    height: 2rem;
    outline: none;
    box-sizing: border-box;
}

#confirm-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: fit-content;
    z-index: 1;
    overflow: auto;
    text-align: center;
}

.confirm-content {
    margin: auto;
    background-color: #fff;
    border-radius: 25px;
    width: 40%;
    padding: 3%;
}

.fa-check-circle {
    color: green;
    margin-right: 2%;
}

.form-title {
    margin-bottom: 5%;
}

#img-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: fit-content;
    z-index: 1;
    overflow: auto;
    text-align: center;
}

#img-content {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
    width: 40%;
    padding: 3%;
}

#img_submit {
    margin-top: 3%;
}

.account-btn-group {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

#edit,
#close-confirm,
#edit_profile_submit,
#edit_profile_reset,
#img_submit {
    width: 70px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 1%;
    transition: ease 0.2s;
}

#edit:hover,
#close-confirm:hover,
#edit_profile_submit:hover,
#edit_profile_reset:hover,
#img_submit:hover {
    color: #fff;
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .user-info {
        width: 100%;
        display: block;
        text-align: center;
        margin: 5% auto 5% auto;
    }
    .user-info table {
        margin: auto;
    }
    .info-row {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .account-icon {
        display: block;
        width: 100%;
    }
    #user-icon {
        width: 80%;
        margin: 5% auto;
    }
    #edit-form {
        width: 80%;
        margin: auto;
    }
    .confirm-content {
        width: 80%;
        margin: auto;
        line-height: 3em;
    }
    #img-content {
        width: 80%;
        text-align: center;
        line-height: 3em;
    }
}