.dashboard-content {
    padding: 2%;
}

.account-group {
    text-align: center;
    margin: 3% auto;
    width: 100%;
}
.account-item-box {
    display: inline-block;
    width: 10%;
}
.account-item {
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 25px;
    color: #000;
    padding: 2%;
}

.account-item:hover {
    color: #fff;
    background-color: #000;
}

.subtitle {
    border-bottom: 1px solid #000;
    width: fit-content;
    margin: 2% 0;
}

canvas {
    width: auto;
    height: 70%;
    margin: auto;
}

legend {
    margin: auto;
}

#time-comment,
#cost-comment {
    line-height: 2em;
}

.exceed_budget {
    color: red;
}

.below_budget {
    color: green;
}
#update_time_budget,
#update_budget {
    display: inline-block;
}

#new_time_budget,
#new_budget {
    width: 20%;
    margin: 3% auto;
    padding-left: 2%;
    border: 2px solid #000000;
    border-radius: 25px;
    height: 1rem;
    outline: none;
}
#time_budget_submit,
#budget_submit {
    width: 70px;
    height: 2rem;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 1%;
    transition: ease 0.2s;
}
#time_budget_submit:hover,
#budget_submit:hover {
    color: #fff;
    background-color: #000;
}

.act-date {
    display: inline-block;
    margin-right: .5%;
}

.act-info {
    display: inline-block;
    margin-left: .5%;
}

@media only screen and (max-width: 768px) {
    .account-group {
        text-align: center;
        margin: 5% auto;
    }
    .account-item-box {
        display: inline-block;
        width: 100%;
        margin: 3% auto;
    }
    .subtitle {
        margin: 5% auto;
    }
    canvas,
    legend {
        width: 100%;
        display: inline-block;
        margin: 5% auto;
        text-align: center;
    }
    legend {
        text-align: left;
    }
    #time-comment,
    #cost-comment {
        line-height: 2em;
    }
    .budget-input {
        width: 30%;
    }
    .act-date,
    .act-info {
        margin: 1% 2%;
    }
    .dashboard-content {
        margin-bottom: 5%;
    }
}