.nav-link {
    visibility: hidden;
}

#user-btn {
    visibility: visible;
}

.login-detail {
    text-align: center;
}

table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    line-height: 2.5rem;
}

.label-item {
    width: 40%;
    margin: auto;
}

.label-item label {
    font-weight: normal;
    font-size: 1.2rem;
}

#login_usernmae, 
#login_password, 
#reset_username, 
#reset_password, 
#verify_reset_password {
    display: block;
    width: 70%;
    margin: 3% auto;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    height: 2rem;
    outline: none;
    box-sizing: border-box;
}

td input:focus::-webkit-input-placeholder {
    visibility: hidden;
}

.login-btn {
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
}

#reset_password_btn, 
#reset_password_reset, 
#login-btn {
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 1%;
    transition: ease 0.2s;
}

#reset_password_btn:hover, 
#reset_password_reset:hover, 
#login-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

#reset_password_trigger {
    color: #000;
    text-decoration: none;
}

#reset_password_trigger:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: .5%;
    border-radius: 25px;
}

#reset_password_form {
    display: none;
    margin-top: 2%;
}

#reset-password {
    margin-bottom: 3%;
}

@media only screen and (max-width: 768px) {
    #nav-bar-list {
        visibility: hidden;
    }
    table {
        width: 95%;
    }
}