    .filter-content {
        width: 30%;
        height: fit-content;
        background-color: seagreen;
        border: 2px solid #000000;
        border-radius: 25px;
        margin-right: 1%;
    }
    
    table {
        padding: 4%;
        margin-left: auto;
        margin-right: auto;
        line-height: 3rem;
    }

    #add_game {
        padding: 5%;
    }

    #not_found_game {
        margin: 5% auto;
        color: #fff;
        text-align: center;
    }
    
    table tr td:nth-child(2) {
        padding-left: 5%;
    }
    
    table tr td select,
    table tr td input[type=search] {
        width: 100%;
        border: 2px solid #000000;
        border-radius: 25px;
        height: 2rem;
        outline: none;
    }

    /* add game form */
    #search_game,
    #add_game {
        padding: 10%;
    }

    #search_form label,
    #add_game_form p label {
        width: 30%;
        display: inline-block;
        font-size: 1rem;
    }

    #search_form input,
    #search_form select,
    #add_game_form p input,
    #add_game_form p select {
        width: 60%;
        display: inline-block;

        box-sizing: border-box;
    }

    #id_search_name,
    #id_search_platform,
    #id_search_genre,
    #id_search_theme,
    #id_name,
    #id_platform,
    #id_publisher,
    #id_date,
    #id_genre, 
    #id_theme {
        display: block;
        width: 100%;
        margin: 3% auto;
        text-align: center;
        border: 2px solid #000000;
        border-radius: 25px;
        height: 2rem;
        outline: none;
    }

    input {
        padding-left: 5%;
    }
    
    .filter-btn-group {
        padding: 2%;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
    }
    
    .filter-btn {
        width: 70px;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
        border: 2px solid #000000;
        border-radius: 25px;
        padding: 1%;
        transition: ease 0.2s;
    }
    
    .filter-btn:hover {
        color: #ffffff;
        background-color: #000000;
    }
    
    .games-content {
        width: 70%;
        background-color: orange;
        text-align: center;
        border: 2px solid #000000;
        border-radius: 25px;
        z-index: 0;
        margin-left: 1%;
    }
    
    .component {
        text-align: center;
        margin: 5% 0;
    }
    /* game list */
    
    .game-list-item div {
        vertical-align: middle;
        text-align: center;
        width: 100%;
    }
    
    .game-img {
        width: 5%;
    }
    
    .game-link {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .game-list li {
        margin: 2% 0;
    }
    
    .game-item {
        width: 5%;
    }
    
    .game-rating {
        width: 10%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .game-tags {
        width: 80%;
    }
    
    #steam-game-list {
        display: none;
    }
    
    @media only screen and (max-width: 768px) {
        .filter-content,
        .games-content {
            width: 90%;
            display: block;
            margin: 5% auto;
        }
        .title {
            margin: 3% auto;
        }
        .pop {
            width: min-content;
        }
        .game-img {
            width: 20%;
            text-align: left;
        }
        .game-tags {
            text-align: center;
            margin: 0 auto;
        }
        .game-list li {
            margin: 5% 0;
        }
    }