.nav-link {
    visibility: hidden;
}

.signup-content {
    text-align: center;
}

.signup-form {
    text-align: center;
    margin: .5% 3%;
}

table {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    line-height: 2.5rem;
}

.label-item {
    width: 40%;
    margin: auto;
}

.label-item label {
    font-weight: normal;
    font-size: 1.2rem;
}

#create_region, 
#create_gender, 
#create_email, 
#create_fname, 
#create_lname, 
#create_username, 
#create_password {
    display: block;
    width: 70%;
    margin: 3% auto;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 25px;
    height: 2rem;
    outline: none;
    box-sizing: border-box;
}

input:focus::-webkit-input-placeholder {
    visibility: hidden;
}

#password-alert {
    color: green;
}

.signup-btn {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
}

#signup-btn, #signup-reset-btn {
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 1%;
    transition: ease 0.2s;
}

#signup-btn:hover, #signup-reset-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    #nav-bar-list {
        visibility: hidden;
    }
    table {
        width: 95%;
    }
}