{% extends "logapp/base.html" %}

{% load static %}

{% block title %}
<title>Games</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'logapp/css/game-item.css' %}">
<link rel="stylesheet" href="{% static 'logapp/css/slides.css' %}">
<link rel="stylesheet" href="{% static 'logapp/css/games.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="filter-content">
            <form method="get" id="search_form">{% csrf_token %}
                <table>
                    <tr>
                        <td><label>Platform</label></td>
                        <td class="input-box">
                            <select name="platform" id="search_platform">
                                <option value=""></option>
                                <option value="Steam">Steam</option>
                                <option value="PlayStation">Playstation</option>
                                <option value="Nintendo">Nintendo</option>
                                <option value="Xbox">Xbox</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Genres</label></td>
                        <td class="input-box">
                            <select name="genre" id="search_genre">
                                <option value=""></option>
                                <option value="Action">Action</option>
                                <option value="Role-Playing">Role-Playing</option>
                                <option value="Strategy">Strategy</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Casual">Casual</option>
                                <option value="Simulation">Simulation</option>
                                <option value="Sports">Sports</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Themes</label></td>
                        <td class="input-box">
                            <select name="theme" id="search_theme">
                                <option value=""></option>
                                <option value="Anime">Anime</option>
                                <option value="Horror">Horror</option>
                                <option value="Mystery">Mystery</option>
                                <option value="Open World">Open World</option>
                                <option value="Sci-Fi">Sci-Fi</option>
                                <option value="Space">Space</option>
                                <option value="Survival">Survival</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><hr></td>
                    </tr>
                    <tr>
                        <td><label>Find by Name</label></td>
                        <td class="input-box"><input type="search" name="search_by_name" id="search_by_name" placeholder="game name"></td>
                    </tr>
                </table>
                <div class="filter-btn-group">
                    <input type="Submit" id="search_submit" class="filter-btn" name="search_submit" value="Submit">
                    <input type="reset" id="search_reset" class="filter-btn" name="search_reset" value="Reset">
                </div>
            </form>

            <div id="add_game">
                <p id="not_found_game">Not found your game? Add here!</p>
                <form method="post" id="add_game_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- <label>Name</label>
                    <input type="text" name="add_game_name" id="add_game_name">
                    
                    <label>Platform</label>
                    <select name="platform" id="add_game_platform">
                        <option value="Steam">Steam</option>
                        <option value="PlayStation">Playstation</option>
                        <option value="Nintendo">Nintendo</option>
                        <option value="Xbox">Xbox</option>
                    </select>
                    
                    <label>Publisher</label>
                    <input type="text" name="add_game_publisher" id="add_game_publisher">
                    
                    <label>Release Date</label>
                    <input type="date" name="add_game_date" id="add_game_date">
                    
                    <label>Genre</label>
                    <select name="genre" id="add_game_genre">
                        <option value="Action">Action</option>
                        <option value="Role-Playing">Role-Playing</option>
                        <option value="Strategy">Strategy</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Casual">Casual</option>
                        <option value="Simulation">Simulation</option>
                        <option value="Sports">Sports</option>
                    </select>
                    
                    <label>Theme</label>
                    <select name="theme" id="add_game_theme">
                        <option value="Anime">Anime</option>
                        <option value="Horror">Horror</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Open World">Open World</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Space">Space</option>
                        <option value="Survival">Survival</option>
                    </select> -->
                    {{ form.as_p }}
                    <div class="filter-btn-group">
                        <input class="filter-btn" type="submit" id="add_game_submit" value="Add">
                        <input class="filter-btn" type="reset" id="add_game_reset" value="Reset">
                    </div>
                </form>
                <div id="add_game_msg"></div>
            </div>
        </div>

        <div class="games-content">
            <section class="component" id="top-rated">
                <h1 class="title">Top Rated Games</h1>
                <div class="slides-content">
                    {% for slide in slides %}
                    <div class="slide-item">
                        <a href="{% url 'game_detail' slide.platform slide.id %}"><img class="slide-img" src="{{ slide.image.url }}" alt="game"></a>
                        <p class="game-desc"></p>
                        <h3 class="game-name">{{ slide.name }}</h3>
                    </div>
                    {% endfor %}

                    <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
                    <a class="next" onclick="moveSlide(1)">&#10095;</a>
                </div>
            </section>

            <section class="component" id="game-of-year">
                <h1 class="title">Games of the Year</h1>
                <ul class="game-list" id="game-list">
                    {% for game in games %}
                    <li>
                        <a class="game-item" href="{% url 'game_detail' game.platform game.id %}">
                            {{ game.name }}
                            <span class="pop">
                                <h4 class="game-title">{{ game.name }}</h4>
                                <small>{{ game.genre }} | {{ game.theme }}</small>
                                <img class="game-pop-img" src="{% static 'logapp/img/steam.svg' %}">
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="component" id="steam-game">
                <h1 class="title">Games on Steam</h1>
                <ul class="game-list" id="game-list2">
                    {% for game in games %}
                    <li>
                        <a class="game-item" href="{% url 'game_detail' game.platform game.id %}">
                            {{ game.name }}
                            <span class="pop">
                                <h4 class="game-title">{{ game.name }}</h4>
                                <small>{{ game.genre }} | {{ game.theme }}</small>
                                <img class="game-pop-img" src="{% static 'logapp/img/steam.svg' %}">
                            </span>
                        </a>
                    </li>
                    {% endfor %}
                    <li class="view-more" id="view-more"><a class="game-item" id="view-more-btn" href="#">View More &raquo;</a></li>
                </ul>
            </section>


            <section class="component" id="steam-game-list">
                {% include "logapp/game_list_results.html" %}
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'logapp/js/slides.js' %}"></script>
{% endblock %}