{% extends "logapp/base.html" %}

{% load static %}

{% block title %}
<title>Game{{ game.name }}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'logapp/css/game-item.css' %}">
<link rel="stylesheet" href="{% static 'logapp/css/game.css' %}">
{% endblock %}

{% block content %}
    <div class="game-content">
        <div class="row">
            <div class="game-info">
                <div class="row">
                    <h1 class="game-title">{{ game.name }}</h1>
                    <img class="game-plat" src="{% static 'logapp/img/' %}{{ platform_icon }}" alt="game platform">
                </div>
                <div class="row">
                    <p class="game-detail">Publisher: {{ game.publisher }}</p>
                    <p class="game-detail">Release Date: {{ game.date }}</p>
                    <div class="game-detail">
                        <div class="game-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="game-rating-detail">4.5 (14,141 Reviews)</p>
                    </div>
                </div>
                <img class="game-img" id="game-img" src="#" alt="game screenshot">
                <div class="get-game">
                    {{ game_id|json_script:"game_id" }}
                    {{ game_platform|json_script:"game_plat" }}
                    {{ game_name|json_script:"game_detail" }}
                    {{ game_image|json_script:"game_image" }}
                    <h2 class="subtitle">Get one from</h2>
                    <table id="game_retail_list">
                    </table>
                </div>
            </div>
            <div class="user-log">
                <h2 class="subtitle">Your Logs</h2>
                <div class="rewards">
                    <h3 class="log-subtitle">Accomplishments</h3>
                    <div class="reward-img row">
                        <img src="{% static 'logapp/img/acc1.jpg' %}" alt="accomplishment">
                        <img src="{% static 'logapp/img/acc2.jpg' %}" alt="accomplishment">
                        <img src="{% static 'logapp/img/acc4.jpg' %}" alt="accomplishment">
                    </div>
                </div>
                <div class="gaming-time">
                    <h3 class="log-subtitle">Gaming Time</h3>
                    <div class="row">
                        <canvas id="gaming-time-plot"></canvas>
                        <legend for="myCanvas"></legend>
                    </div>
                    <div id="time-comment"></div>
                </div>
                <div class="budget">
                    <h3 class="log-subtitle">Budget</h3>
                    <div class="row">
                        <canvas id="gaming-budget-plot"></canvas>
                        <div id="myLegend"></div>
                    </div>
                    <div id="cost-comment"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="module" id="game_id" type="application/json">{ "game_id": game_id}</script>
<script type="module" id="game_plat" type="application/json">{ "game_plat": game_plat}</script>
<script type="module" id="game_detail" type="application/json">{ "game_detail": game_detail }</script>
<script type="module" id="game_image" type="application/json">{ "game_image": game_image }</script>
<script type="module" src="{% static 'logapp/js/game.js' %}"></script>
{% endblock %}